# Virtual Environment
.venv/

# Environment Variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc

# Uploaded Files
uploads/

# ChromaDB
chroma_db/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
!frontend/.env.example